@{
    ViewBag.Title = "O nas";
}

<div class="container">
    <div class="section">
        <h2>@ViewBag.Title.</h2>
        <p>Jesteśmy młodą firmą oferującą usługi kurierski na terenie całej Polski.</p>
    </div>
</div>