<div class="container">
    <h3>Twoje konto zostało utworzone</h3>
    <hr>
    <p>Witamy wśród grona klientów Instant Delivery. Możesz od razu zalogować się za pomocą podanych nazwy użytkownika oraz hasła.</p>
    <br>
    <a class="btn btn-primary" href="login">Przejdź do logowania</a>
</div>