@{
    ViewBag.Title = "title";
}
@section Scripts
{
    @Scripts.Render("~/bundles/portal")
}
<div class="container">
    <div class="section" ng-app="app">
        <ul>
            <li><a href="packages">Moje paczki</a></li>
            <li><a href="sendPackage">Nadaj paczkę</a></li>
        </ul>
        <div ng-view></div>
    </div>
</div>