<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bootstrap Sidebar</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Bootply</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Get Started</a>
                    </li>
                    <li>
                        <a href="#">Edit</a>
                    </li>
                    <li>
                        <a href="#">Visualize</a>
                    </li>
                    <li>
                        <a href="#">Prototype</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Begin Body -->
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="leftCol">

                <div class="well">
                    <ul class="nav nav-stacked" id="sidebar">
                        <li><a href="#sec1">Section 1</a></li>
                        <li><a href="#sec2">Section 2</a></li>
                        <li><a href="#sec3">Section 3</a></li>
                        <li><a href="#sec4">Section 4</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
